.sliderContainer {
  position: relative;
  border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  --border-left-width: 0px;
  --border-right-width: 0px;
  --border-style: solid;
  --border-top-width: 0px;
  background: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgba(19, 19, 19, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  display: none;
  margin-top: 20px;
  padding: 15px;
  min-width: 55px;
  min-height: 55px;
  overflow-x: hidden;
}

.sliderText {
  font-size: 1rem;
  color: white;
  pointer-events: none;
  z-index: 1;
  margin-left: 40px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-wrap: nowrap;
  line-height: 0px;
}

.sliderHandle {
  position: absolute;
  top: 9px;
  left: 10px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffff;
}

.loader {
  width: 36px;
  height: 36px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .sliderContainer {
    display: flex;
  }
}
