.containerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(
    rgb(2, 2, 2) 0%,
    rgba(2, 2, 2, 0.992) 11.7896%,
    rgba(2, 2, 2, 0.97) 21.3837%,
    rgba(2, 2, 2, 0.93) 29.12%,
    rgba(2, 2, 2, 0.88) 35.3363%,
    rgba(2, 2, 2, 0.82) 40.3704%,
    rgba(2, 2, 2, 0.75) 44.56%,
    rgba(2, 2, 2, 0.67) 48.243%,
    rgba(2, 2, 2, 0.59) 51.757%,
    rgba(2, 2, 2, 0.5) 55.44%,
    rgba(2, 2, 2, 0.416) 59.6296%,
    rgba(2, 2, 2, 0.325) 64.6637%,
    rgba(2, 2, 2, 0.24) 70.88%,
    rgba(2, 2, 2, 0.153) 78.6163%,
    rgba(2, 2, 2, 0.075) 88.2104%,
    rgba(2, 2, 2, 0) 100%
  );
}

.nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@keyframes shadowPulse {
  0% {
    filter: drop-shadow(0 0 0 rgba(195, 195, 195, 0));
  }
  50% {
    filter: drop-shadow(0 0 0.75rem rgb(151, 151, 151));
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(195, 195, 195, 0.403));
  }
}

.LogoNav {
  animation: shadowPulse 2s ease-in-out infinite;
  cursor: pointer;
}

.start {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(27, 27, 27);
  background-color: #05050598;
  backdrop-filter: blur(10px);
  padding: 14px 30px;
  border-radius: 30px;
}

.center ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.center ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.1%;
  cursor: pointer;
  color: grey;
  transition: transform 0.3s ease, color 0.3s ease;
}

.center ul li:hover {
  color: white;
}

.center ul li .icon {
  font-size: 25px;
  display: none;
}
.end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 2.6em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}

.end button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.end button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  transition: 1s;
}

.end button:hover::before {
  filter: blur(20px);
}

.end button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

.hamburguerButton {
  display: none;
}

.hamburguerButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.onClose {
  display: none;
}

@media (max-width: 900px) {
  .containerNav {
    background-color: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(10px);
  }
  .nav {
    height: auto;
    padding: 30px 20px;
  }

  .LogoNav {
    width: 25px;
    height: auto;
  }
  .hamburguerButton {
    display: flex;
  }

  .start {
    width: min-content !important;
  }

  .center {
    width: 100%;
    order: 4;
    padding: 30px 0px;
    display: none;
    border-radius: 0px;
    border: none;
    position: relative;
    background-color: black;
  }

  .onClose {
    display: flex;
    border-bottom: 1px solid rgb(43, 43, 43);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
  }

  .onClose button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .center.show {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    align-items: flex-start;
    z-index: 100;
    transform: translateX(-100%);
    animation: slideIn 0.3s ease-out forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .center.show ul {
    margin-top: 70px;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .center.show ul li {
    color: white;
  }

  .center ul li .icon {
    font-size: 20px;
    display: flex;
  }
}
