.containerNav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  padding: 40px 20px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@keyframes shadowPulse {
  0% {
    filter: drop-shadow(0 0 0 rgba(195, 195, 195, 0));
  }
  50% {
    filter: drop-shadow(0 0 0.75rem rgb(151, 151, 151));
  }
  100% {
    filter: drop-shadow(0 0 0 rgba(195, 195, 195, 0.403));
  }
}

.LogoNav {
  animation: shadowPulse 2s ease-in-out infinite;
  cursor: pointer;
  width: 40px;
  height: auto;
}

.LogoNavMobile {
  display: none;
}

.start {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  background-color: rgb(35 35 43 / 26%);
  padding: 14px 30px;
  border-radius: 30px;
}

.center ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.center ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.1%;
  cursor: pointer;
  color: white;
  position: relative;
}

.center ul li .icon {
  font-size: 25px;
  display: none;
  margin-right: 10px;
}

.menuServices {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
  position: absolute;
  top: 70px;
  left: 50px;
  padding: 20px;
  gap: 25px !important;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background-color: rgba(35, 35, 43, 0.986);
  backdrop-filter: blur(24px) !important;
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.rotate {
  transform: rotate(180deg) !important;
  transition: transform 0.3s ease !important;
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_mobile {
  display: none;
}

.end button,
.button_mobile button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  color: #fff;
  padding: 13px 20px;
  text-align: center;
  border-radius: 30px;
  z-index: 1;
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 75, 221);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}

.hamburguerButton {
  display: none;
}

.hamburguerButton button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

@media (max-width: 750px) {
  .nav {
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-between;
    background-color: rgba(35, 35, 43, 0.486);
    backdrop-filter: blur(24px) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    max-height: 80px;
    overflow-y: hidden;
    transition: max-height 1s ease;
  }

  .nav.show {
    max-height: 700px;
    transition: max-height 1s ease;
  }

  .start {
    width: auto;
    padding: 20px;
  }

  .hamburguerButton {
    display: flex;
    padding: 20px;
  }
  .LogoNav {
    display: none;
  }

  .button_mobile {
    display: flex;
  }

  .LogoNavMobile {
    display: flex;
    width: 200px;
    height: auto;
  }

  .end button {
    display: none;
  }

  .center {
    order: 3;
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 0px;
    border: none;
    background-color: transparent;
    backdrop-filter: none !important;
    padding: 30px 0px;
  }

  .center ul {
    width: 100%;
    flex-direction: column;
  }
  .center ul li {
    font-size: 16px;
  }

  .menuServices {
    position: static;
    max-width: 300px;
  }
}
