.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 230px;
  padding-bottom: 150px;
}

.containerTitle {
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.typeWritten h1 {
  overflow: hidden;
  height: max-content;
  white-space: nowrap;
  font-size: 130px;
  font-weight: 600;
  line-height: 130px;
  letter-spacing: -6px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.typeWritten:first-child h1 {
  padding-right: 10px;
  will-change: transform, opacity;
  margin-bottom: 20px;
}

.typeWritten:nth-child(2) h1 {
  padding-right: 7px;
  padding-bottom: 25px;
  will-change: transform, opacity;
}

.containerText {
  width: 100%;
  max-width: 700px;
  text-align: center;
  line-height: 40px;
  font-size: 23px;
  font-weight: 400;
  color: #ffffffd7;
}

.containerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.containerButton .containerSocial {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%);
}

.containerButton .buttonFolow {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  --border-left-width: 0px;
  --border-right-width: 0px;
  --border-style: solid;
  --border-top-width: 0px;
  border-radius: 30px;
  background: rgb(19, 19, 19);
  background: linear-gradient(
    0deg,
    rgba(19, 19, 19, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  opacity: 1;
  will-change: transform, opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  padding-right: 20px;
}

.buttonFolow span {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.buttonFolow:hover span {
  transform: rotate(-45deg);
}

@media (max-width: 1500px) {
  .homePage .containerTitle h1 {
    line-height: 130px;
  }
}

@media (max-width: 1200px) {
  .containerTitle {
    gap: 0px;
  }
  .homePage .containerTitle h1 {
    font-size: 100px;
    line-height: 120px;
    letter-spacing: -3px;
  }

  .typeWritten:first-child h1 {
    margin-bottom: 0px;
    padding: 0px;
  }

  .typeWritten:nth-child(2) h1 {
    padding: 0px;
  }

  .containerText {
    width: 90%;
    max-width: 600px;
    font-size: 20px;
  }

  .containerButton {
    margin: 5px;
  }
}

@media (max-width: 900px) {
  .homePage .containerTitle h1 {
    font-size: 90px;
  }

  .containerButton {
    margin-top: 15px !important;
  }

  .containerButton button {
    font-size: 15px;
    margin: 0px;
  }

  .socials {
    left: 18%;
  }
}

@media (max-width: 750px) {
  .homePage .containerTitle h1 {
    font-size: 70px;
    line-height: 90px;
  }
}

@media (max-width: 600px) {
  .homePage {
    padding-top: 170px;
    padding-bottom: 100px;
    gap: 10px;
    backdrop-filter: blur(50px);
  }

  .homePage .containerTitle {
    gap: 0px;
  }
  .homePage .containerTitle h1 {
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 75px;
    padding: 0px 2px;
  }

  .containerText {
    margin: 10px 0px;
  }

  .buttonFolow {
    order: 3;
  }
}

@media (max-width: 500px) {
  .homePage {
    padding-top: 190px;
    padding-bottom: 190px;
    gap: 0px;
  }
  .homePage .containerTitle h1 {
    font-size: 45px;
    line-height: 60px;
  }

  .containerText {
    font-size: 18px;
    line-height: 30px;
  }

  .containerButton {
    flex-direction: column-reverse;
    margin: 0px;
  }
}

@media (max-width: 400px) {
  .homePage .containerTitle h1 {
    font-size: 40px;
    line-height: 65px;
  }
}
