.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 230px 0px;
}

.containerTitle {
  width: 100%;
  max-width: 1100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.homePage .subtitle {
  padding: 7px 15px;
  font-size: 14px;
  color: #c7c7c7;
  backdrop-filter: blur(3px);
  background: linear-gradient(
    90.0879deg,
    rgba(229, 156, 255, 0.24) 0.01%,
    rgba(186, 156, 255, 0.24) 50.01%,
    rgba(156, 178, 255, 0.24) 100%
  );
  border-radius: 30px;
  box-shadow: 0px 0px 37px 4px rgba(255, 255, 255, 0.144);
}
.containerH1 {
  overflow-y: hidden;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.homePage .containerTitle h1 {
  font-family: var(--font-Euclid);
  text-align: center;
  text-wrap: balance;
  overflow-wrap: break-word;
  font-size: 7.5vw;
  font-style: normal;
  font-weight: 600;
  line-height: 130px;
  letter-spacing: -7px;
  color: #d8d8d7;
}

.span {
  background-image: linear-gradient(
    90deg,
    rgb(251, 114, 182),
    rgb(105, 26, 164)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.containerText {
  width: 100%;
  max-width: 550px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: grey;
}

.containerButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.containerButton button {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid white;
  background: #000;
  padding: 10px 20px;
  border-radius: 30px;
  color: rgb(229, 229, 229);
}

@media (max-width: 1500px) {
  .homePage .containerTitle h1 {
    line-height: 130px;
  }
}

@media (max-width: 1200px) {
  .homePage {
    gap: 20px;
  }
  .homePage .containerTitle h1 {
    font-size: 7.5vw;
    letter-spacing: -0.02em;
    line-height: normal;
  }

  .containerText {
    width: 90%;
    max-width: 500px;
    font-size: 17px;
  }
}

@media (max-width: 750px) {
  .homePage .containerTitle h1 {
    font-size: 9vw;
  }

  .containerButton {
    padding: 10px;
  }

  .containerButton button {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .homePage {
    padding: 200px 0px;
  }
  .homePage .containerTitle h1 {
    font-size: 45px;
    letter-spacing: -1px;
  }
}
