.homePage {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #0000003f;
  backdrop-filter: blur(200px);
}

.containerTitle {
  width: 100%;
  max-width: 1500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.typeWritten h1 {
  overflow: hidden;
  height: max-content;
  white-space: nowrap;
  font-size: 6vw;
  font-weight: 600;
  line-height: 120px;
  letter-spacing: -6px;
  color: white;
  text-align: center;
  margin: 0 auto;
  text-shadow: -1px 1px 7px rgb(32, 32, 32);
}

.typeWritten:first-child h1 {
  padding-right: 10px;
  will-change: transform, opacity;
}

.typeWritten:nth-child(2) h1 {
  /* padding-right: 7px; */
  padding-bottom: 16px;
  will-change: transform, opacity;
}

.containerText {
  width: 100%;
  max-width: 700px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffffd7;
}

.containerButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  margin-top: 30px;
}

.containerButton .button {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 0px;
  padding-left: 15px;
  padding-right: 5px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.062) 0px 1px 0px 0px inset,
    rgba(61, 61, 61, 0.342) 0px 2px 8px 0px inset;
  opacity: 1;
  border-radius: 10px;
  color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform, opacity;
}

.containerButton .buttonFolow {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  --border-left-width: 0px;
  --border-right-width: 0px;
  --border-style: solid;
  --border-top-width: 0px;
  border-radius: 10px;
  background-color: rgb(0, 75, 221);
  height: 100%;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  opacity: 1;
  will-change: transform, opacity;
}

.socials {
  width: 255px;
  height: auto;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1000;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(15, 15, 15);
  box-shadow: rgba(255, 255, 255, 0.062) 0px 1px 0px 0px inset,
    rgba(61, 61, 61, 0.342) 0px 2px 8px 0px inset;
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.socials ul {
  height: auto;
  padding: 10px 7px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.socials li {
  padding: 10px 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  font-weight: 300;
}

.socials li:hover {
  background: #3131316c;
}

@media (max-width: 1500px) {
  .homePage .containerTitle h1 {
    line-height: 130px;
  }
}

@media (max-width: 1200px) {
  .homePage {
    gap: 10px;
  }

  .containerTitle {
    gap: 1px;
  }
  .homePage .containerTitle h1 {
    font-size: 7.5vw;
    letter-spacing: -0.02em;
    line-height: normal;
  }

  .typeWritten:first-child h1 {
    padding-right: 0px;
  }

  .typeWritten:nth-child(2) h1 {
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .containerText {
    width: 90%;
    max-width: 500px;
    font-size: 17px;
  }
}

@media (max-width: 750px) {
  .homePage {
    padding: 140px 0px;
  }
  .homePage .containerTitle h1 {
    font-size: 9vw;
  }

  .containerButton {
    margin-top: 0px !important;
  }

  .containerButton button {
    font-size: 15px;
    margin: 0px;
  }

  .socials {
    left: 18%;
  }
}

@media (max-width: 510px) {
  .homePage {
    padding-top: 170px;
    padding-bottom: 100px;
    gap: 10px;
    backdrop-filter: blur(50px);
  }

  .homePage .containerTitle {
    gap: 10px;
  }
  .homePage .containerTitle h1 {
    font-size: 45px;
    letter-spacing: -1.5px;
    line-height: 57px;
  }

  .containerButton {
    width: auto;
    column-gap: 100px !important;
    row-gap: 5px;
  }

  .buttonFolow {
    order: 3;
    margin-top: 10px !important;
  }

  .socials {
    position: relative;
    top: 0;
    left: 0;
    left: center;
  }
}
