.containerApp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../../public/elipses/elipse_1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

@media (max-width: 1000px) {
  .bg {
    background-image: url("../../public/elipses/elipse_1.svg");
    background-size: cover;
    background-position: center;
  }
}
