.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.card {
  width: 1050px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
  top: 250px;
  border-radius: 30px;
  background: #101010;
  border: 1px solid rgb(22, 22, 22);
  padding: 50px;
  /* box-shadow: -1px -1px 0px 2px rgba(54, 54, 54, 0.06); */
}

.containerImg {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.containerImg img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

/* Card numero 2 */

.card:nth-child(2) .containerImg {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Card numero 3 */

/* .card:nth-child(3) .containerText {
  max-width: 450px;
} */

.card:nth-child(3) .containerText h3 {
  text-wrap: balance;
}

.card:nth-child(3) .gradient {
  display: none;
}

.card:nth-child(3) .containerImg {
  display: flex;
  align-items: center;
}

.card:nth-child(3) .containerImg img {
  width: 100%;
  height: auto;
}

/* .card:nth-child(4) .containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-child(4) .containerImg img {
  width: 95%;
  height: auto;
} */

/* .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(16, 16, 16);
  background: linear-gradient(
      90deg,
      rgba(16, 16, 16, 0) 20%,
      rgb(16, 16, 16) 100%
    ),
    linear-gradient(180deg, rgba(16, 16, 16, 0) 20%, rgb(16, 16, 16) 100%);
  z-index: 1;
} */

.containerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

.containerText h5 {
  font-size: 14px;
  font-weight: 500;
  color: #a594fd;
}

.cardContainer h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 60px;
}

.cardContainer p {
  font-size: 17px;
  font-weight: 400;
  color: grey;
}

.tips {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tips p {
  font-size: 15px;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
  color: #a594fd;
}

@media (max-width: 1100px) {
  .container {
    width: 95%;
    height: auto;
  }

  .cardContainer {
    gap: 30px;
  }

  .card {
    width: 100%;
    position: relative;
    top: 0px;
  }
}

@media (max-width: 900px) {
  .card {
    flex-wrap: wrap;
    border-radius: 20px;
  }

  .containerText {
    max-width: 100%;
  }

  .containerImg {
    height: 300px;
  }

  .containerImg img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .card {
    padding: 30px;
  }
  .containerImg {
    height: 200px;
  }
  .containerText {
    padding: 0px;
  }

  .containerText h5 {
    font-size: 12px;
  }

  .cardContainer h3 {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }

  .containerText p {
    font-size: 15px;
  }

  .tips {
    display: none;
  }
}
