.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.card {
  width: 1050px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
  top: 250px;
  border-radius: 30px;
  background-color: rgb(24, 24, 31);
  border: 1px solid rgba(112, 112, 112, 0.1);
  padding: 50px;
  overflow-x: hidden;
}

.containerImg {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.containerImg img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

/* Card numero 2 */

.card:nth-child(2) .containerImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card:nth-child(2) .containerImg img {
  width: 150px;
}

/* Card numero 3 */

.card:nth-child(3) .containerText h3 {
  text-wrap: balance;
}

.card:nth-child(3) .containerImg {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.card:nth-child(3) .containerImg img {
  position: relative;
  width: 80%;
  height: auto;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
}

.card:nth-child(4) .containerImg {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.card:nth-child(4) .containerImg img {
  position: relative;
  width: 80%;
  height: auto;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
}

.containerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

.containerText h5 {
  font-size: 14px;
  font-weight: 500;
  color: #a594fd;
}

.cardContainer h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 60px;
}

.cardContainer p {
  font-size: 17px;
  font-weight: 400;
  color: grey;
}

.tips {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tips p {
  font-size: 15px;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 20px;
  color: #a594fd;
}

@media (max-width: 1100px) {
  .container {
    width: 95%;
    height: auto;
  }

  .cardContainer {
    gap: 30px;
  }

  .card {
    width: 100%;
    position: relative;
    top: 0px;
  }

  .card:nth-child(2) .containerImg img {
    width: 100px;
  }

  .card:nth-child(4) .containerImg {
    place-items: center;
  }

  .card:nth-child(4) .containerImg img {
    width: 450px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .card {
    flex-wrap: wrap;
    border-radius: 20px;
    height: auto;
  }

  .containerText {
    max-width: 100%;
  }

  .containerImg {
    height: auto;
  }

  .containerImg img {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .card {
    padding: 30px;
  }
  .containerImg {
    height: auto;
  }

  .card:nth-child(1) .containerImg img {
    width: 270px;
  }

  .card:nth-child(2) .containerImg img {
    width: 70px;
  }

  .card:nth-child(4) .containerImg img {
    width: 200px;
  }

  .containerText {
    padding: 0px;
  }

  .containerText h5 {
    font-size: 12px;
  }

  .cardContainer h3 {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }

  .containerText p {
    font-size: 15px;
  }

  .tips {
    display: none;
  }
}
