.card {
  width: 1050px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
  top: 170px;
  border-radius: 30px;
  background-image: url('./../../../../../public/background\ 1.svg');
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  overflow-x: hidden;
  border: 1px solid rgb(22, 22, 22);
}

.containerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 5px;
}

.containerText h5 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #a594fd;
  will-change: transform, opacity;
}

.containerText h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 60px;
  will-change: transform, opacity;
}

.containerText p {
  font-size: 17px;
  font-weight: 400;
  color: rgb(182, 182, 182);
  will-change: transform, opacity;
}

.tips {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tips p {
  font-size: 15px;
  color: rgb(182, 182, 182);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity;
}

.containerButton {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.containerButton .button_black {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 75, 221);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  will-change: scale, opacity;
}

.containerImg {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.containerImg .div {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.containerImg .div span {
  position: absolute;
  top: 20%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  background-color: rgb(35 35 43 / 26%);
  padding: 10px 0;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  transition: top 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.containerImg .div:hover span {
  top: -20%;
  opacity: 1;
}

.containerImg img {
  width: 100%;
  height: auto;
  will-change: transform, opacity;
}

@media (max-width: 1100px) {
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    position: relative;
    top: 0px;
    padding-bottom: 70px !important;
    background-size: 200%;
  }

  .containerText {
    width: 100%;
    max-width: 90%;
  }

  .containerButton {
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  .card {
    background-size: 250%;
  }

  .containerImg .div span {
    display: none;
  }
}

@media (max-width: 550px) {
  .card {
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 230%;
    background-position: right;
  }
  .containerText {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    gap: 7px;
  }
  .containerText h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .containerText p {
    font-size: 15px;
  }

  .tips {
    display: none;
  }

  .containerButton {
    margin-top: 0px;
  }

  .containerImg {
    padding: 10px 0px;
  }
}

@media (max-width: 430px) {
  .card {
    padding: 25px;
  }

  .containerButton button {
    font-size: 12px !important;
  }
}
