.containerButton {
  width: min-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 12000;
  position: fixed;
  right: 10px;
  bottom: 10px;
  margin: 5px;
}

.containerButton button {
  font-size: 40px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(240, 240, 240);
  transition: all 0.3s ease;
}

.icon {
  filter: drop-shadow(0 0 0.75rem rgb(202, 202, 202));
}

.containerButton button .buttonFondo {
  border-radius: 10px;
}

.containerButton button .buttonGif {
  position: absolute;
  top: 0;
}

.containerButton button:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .containerButton {
    transition: none;
  }

  .containerButton button:hover {
    transform: none;
  }
}
