.containerButton {
  width: min-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 12000;
  position: fixed;
  right: 5px;
  bottom: 5px;
  margin: 20px;
}

.circle {
  width: 60px;
  height: 60px;
  background: rgb(119, 57, 170);
  border-radius: 50%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.containerButton button {
  font-size: 30px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background: linear-gradient(
    rgb(119, 57, 170) -19.6429%,
    rgb(59, 9, 100) 100%
  );
  color: rgb(240, 240, 240);
  transition: all 0.3s ease;
}

.containerButton button:hover {
  transform: scale(1.1);
}
@media (max-width: 500px) {
  .containerButton {
    padding: 5px;
    transition: none;
  }

  .containerButton button:hover {
    transform: none;
  }
}
