.card {
  width: 1050px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
  top: 250px;
  border-radius: 30px;
  background-image: url("./../../../../../public/background\ 1.svg");
  background-size: 250%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  overflow-x: hidden;
}

.containerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 5px;
}

.containerText h5 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #a594fd;
  will-change: transform, opacity;
}

.containerText h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 60px;
  will-change: transform, opacity;
}

.containerText p {
  font-size: 17px;
  font-weight: 400;
  color: rgb(182, 182, 182);
  will-change: transform, opacity;
}

.tips {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tips p {
  font-size: 15px;
  color: rgb(182, 182, 182);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity;
}

.containerButton {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity;
}

.containerButton .button {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  --border-left-width: 0px;
  --border-right-width: 0px;
  --border-style: solid;
  --border-top-width: 0px;
  border-radius: 10px;
  background-color: rgb(0, 75, 221);
  height: 100%;
  opacity: 1;
  will-change: transform, opacity;
}

.containerButton .button_black {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(15, 15, 15);
}

.containerImg {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.containerImg img {
  position: relative;
  width: 80%;
  height: auto;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 1;
  will-change: transform, opacity;
}

@media (max-width: 1100px) {
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    position: relative;
    top: 0px;
  }

  .containerText {
    width: 100%;
    max-width: 90%;
  }
}

@media (max-width: 550px) {
  .card {
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 400%;
  }
  .containerText {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    gap: 7px;
  }
  .containerText h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .containerText p {
    font-size: 15px;
  }

  .tips {
    display: none;
  }

  .containerButton {
    margin-top: 0px;
    margin: 7px 0px;
  }
}

@media (max-width: 430px) {
  .card {
    padding: 25px;
  }

  .containerButton button {
    font-size: 12px !important;
  }

  .containerImg img {
    width: 75%;
  }
}
