.card {
  width: 1050px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
  top: 170px;
  border-radius: 30px;
  background-image: url('./../../../../../public/background\ 1.svg');
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  overflow-x: hidden;
  border: 1px solid rgb(22, 22, 22);
}

.containerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

.containerText span {
  font-size: 15px;
  font-weight: 600;
  color: #a594fd;
  will-change: transform, opacity;
}

.containerText h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 55px;
  will-change: transform, opacity;
}

.containerText p {
  font-size: 17px;
  font-weight: 400;
  color: rgb(211, 211, 211);
  will-change: transform, opacity;
}

.tips {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tips p {
  font-size: 15px;
  color: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity;
}

.containerButton {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.containerButton_mobile {
  display: none;
}

.containerButton .button_black {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 75, 221);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  will-change: opacity, scale;
}

.containerImg {
  width: 100%;
  max-width: 500px;
}
.containerImg .img {
  position: relative;
  cursor: pointer;
}

.containerImg img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.name_project {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.711922268907563) 16%,
    rgba(0, 0, 0, 0.47102591036414565) 100%
  );
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.4s;
}
.name_project h5 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-shadow: 0px 1px 9px rgba(58, 58, 58, 0.548);
}

.name_project button {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 25px;
  text-align: center;
  border-radius: 30px;
  z-index: 1;
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 75, 221);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}

.containerImg .img:hover .name_project {
  opacity: 1;
}

@media (max-width: 1100px) {
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    position: relative;
    top: 0px;
    background-size: 200%;
  }

  .containerText {
    width: 100%;
    max-width: 90%;
  }

  .containerButton {
    display: none;
  }

  .containerButton_mobile {
    display: flex;
  }

  .containerButton_mobile a {
    width: 100%;
  }

  /* From Uiverse.io by Madflows */
  .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 15px 0px;
    border-radius: 10px;
    background: #3d3a4e59;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button:hover::before {
    transform: scaleX(1);
  }

  .button_content {
    position: relative;
    z-index: 1;
  }

  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  .containerImg {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 650px) {
  .card {
    background-size: 250%;
  }

  .name_project h5 {
    font-size: 20px;
    letter-spacing: -1px;
  }

  .name_project button {
    font-size: 16px;
    padding: 7px 18px;
  }
}

@media (max-width: 550px) {
  .card {
    gap: 15px;
    padding: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 230%;
  }
  .containerText {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    gap: 7px;
  }
  .containerText h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .containerText p {
    font-size: 15px;
  }

  .tips {
    display: none;
  }

  .containerButton {
    margin-top: 0px;
  }
}

@media (max-width: 430px) {
  .card {
    padding: 25px;
  }

  .containerButton button {
    font-size: 12px !important;
  }
}
