.card {
  width: 1050px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
  top: 170px;
  border-radius: 30px;
  background-image: url("./../../../../../public/background\ 1.svg");
  background-size: 140%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  overflow-x: hidden;
  border: 1px solid rgb(22, 22, 22);
}

.containerText {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}

.containerText span {
  font-size: 15px;
  font-weight: 600;
  color: #a594fd;
  will-change: transform, opacity;
}

.containerText h3 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.5px;
  line-height: 55px;
  will-change: transform, opacity;
}

.containerText p {
  font-size: 17px;
  font-weight: 400;
  color: rgb(211, 211, 211);
  will-change: transform, opacity;
}

.tips {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tips p {
  font-size: 15px;
  color: rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  will-change: transform, opacity;
}

.containerButton {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.containerButton .button_black {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 75, 221);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  will-change: opacity, scale;
}

.containerImg {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.carousel {
  display: flex;
  width: 100%;
}

.carouselImages {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 10000%;
}

.image {
  width: 100%;
  flex-shrink: 0;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 1100px) {
  .card {
    width: 90%;
    height: auto;
    flex-direction: column;
    position: relative;
    top: 0px;
    padding-bottom: 80px !important;
    background-size: 200%;
  }

  .containerText {
    width: 100%;
    max-width: 90%;
  }

  .containerButton {
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  .card {
    background-size: 250%;
  }
}

@media (max-width: 550px) {
  .card {
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 230%;
  }
  .containerText {
    padding: 0px;
    width: 100%;
    max-width: 100%;
    gap: 7px;
  }
  .containerText h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .containerText p {
    font-size: 15px;
  }

  .tips {
    display: none;
  }

  .containerButton {
    margin-top: 0px;
  }
}

@media (max-width: 430px) {
  .card {
    padding: 25px;
  }

  .containerButton button {
    font-size: 12px !important;
  }
}
