.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 170px 0px;
}

.containerTitle {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.containerTitle span {
  font-size: 18px;
  font-weight: 500;
}

.containerTitle h1 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 80px;
  text-align: center;
  text-wrap: balance;
}

.containerCards {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.containerCarrucel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  animation: animate 35s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.containerCarrucel:hover {
  animation-play-state: paused;
}
.containerCarrucel_mobile {
  display: none;
}

.card_web {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 600px;
  border-radius: 15px;
  cursor: pointer;
}
.card_web img {
  transition: transform 0.3s; /* Opcional: para suavizar el efecto de hover */
}

.card_web:hover img {
  transform: scale(1.05); /* Opcional: aumenta la imagen al hacer hover */
}

.card_web .buttons {
  background-color: rgba(0, 0, 0, 0.671);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
}

.card_web:hover .buttons {
  opacity: 1; /* Muestra el contenedor al hacer hover */
}

.buttons .titleCard {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons h3 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -1px;
}

.buttonControl {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card_web .buttons .buttonControl button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 8px;
}

.card_web .buttons .buttonControl .button_blue {
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background-color: rgb(0, 75, 221);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}

.card_web .buttons .buttonControl .button_black {
  --border-bottom-width: 0px;
  --border-color: rgba(0, 0, 0, 0);
  background: linear-gradient(rgb(53, 53, 53) -19.6429%, rgb(14, 14, 14) 100%);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
    rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
}

@media (max-width: 1000px) {
  .container {
    gap: 30px;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .containerTitle h1 {
    font-size: 50px;
    max-width: 700px;
  }

  .containerCards {
    overflow: visible;
  }

  .containerCarrucel {
    display: none;
  }

  .containerCarrucel_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .containerCarrucel_mobile .card_mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90%;
    border-radius: 15px;
    cursor: pointer;
  }

  .card_mobile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
  }
  .card_mobile img {
    width: 100%;
    height: auto;
    transition: transform 0.3s; /* Opcional: para suavizar el efecto de hover */
  }

  .card_mobile:hover img {
    transform: scale(1.05); /* Opcional: aumenta la imagen al hacer hover */
  }

  .card_mobile .buttons_mobile {
    background-color: rgba(0, 0, 0, 0.671);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
  }

  .buttons_mobile .titleCard {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .buttons_mobile h3 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .buttonControl {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .card_mobile:hover .buttons_mobile {
    opacity: 1; /* Muestra el contenedor al hacer hover */
  }

  .card_mobile .buttons_mobile button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 8px;
  }

  .card_mobile .buttons_mobile .button_blue {
    --border-bottom-width: 0px;
    --border-color: rgba(0, 0, 0, 0);
    background-color: rgb(0, 75, 221);
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
      rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  }

  .card_mobile .buttons_mobile .button_black {
    --border-bottom-width: 0px;
    --border-color: rgba(0, 0, 0, 0);
    background: linear-gradient(
      rgb(53, 53, 53) -19.6429%,
      rgb(14, 14, 14) 100%
    );
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset,
      rgba(0, 0, 0, 0.16) 0px 2px 8px 0px;
  }
}

@media (max-width: 600px) {
  .containerTitle h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
    text-wrap: balance;
    line-height: 55px;
  }

  .containerTitle span {
    font-size: 15px;
  }

  .buttons_mobile button {
    font-size: 14px !important;
    letter-spacing: 0.5px;
  }

  .buttons_mobile h3 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
  }
}
