.footer {
  position: relative; /* Asegura que el z-index funcione */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  background-color: rgba(24, 24, 31, 0.7);
  width: 100%;
  height: auto;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  max-width: 1600px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .logo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.container .logo img {
  width: 200px;
  height: auto;
}

.container .logo p {
  font-size: 16px;
  max-width: 450px;
  font-weight: 300;
  color: grey;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #c3c3c3;
}

.social span {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.routes {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.routes ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 50px;
}

.routes ul li {
  color: #c3c3c3;
  font-size: 15px;
  height: min-content;
}

.copyright {
  border-top: 1px solid rgb(43, 43, 43);
  margin: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #c3c3c3;
  padding-top: 20px;
}

@media (max-width: 1110px) {
  .logo {
    width: 60% !important;
  }
  .routes {
    width: min-content;
  }
  .routes ul {
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 40px;
  }

  .routes ul li {
    white-space: nowrap;
  }

  .copyright {
    padding-top: 20px;
    justify-content: center;
  }

  .copyright p {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .container {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 550px) {
  .container {
    gap: 50px;
    align-items: center;
  }
  .logo {
    width: 100% !important;
    align-items: center;
  }

  .logo p {
    text-align: center;
    font-size: 15px !important;
  }

  .routes {
    width: 100% !important;
    justify-content: center;
  }

  .routes ul {
    align-items: center;
  }

  .copyright {
    margin-top: 0px;
  }
  .copyright p {
    font-size: 15px;
  }
}
