.container {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.575);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}

.detailContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.infoProyecto {
  width: 100%;
  max-width: 750px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 60px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title h1 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -4px;
  color: white;
  margin-left: -3px;
  line-height: 90px;
}

.title span {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: rgb(218, 218, 218);
}

.title button {
  background: #008df1;
  padding: 10px 25px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  letter-spacing: 0.5px;
}

.parrafo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.parrafo h5 {
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: rgb(218, 218, 218);
}

.parrafo p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: rgb(138, 138, 138);
}

.containerImg {
  flex: 2;
  width: 100%;
  max-width: 1000px;
  min-width: 700px;
  overflow: hidden;
  position: relative;
  padding: 15px;
}

.images {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.containerImg img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.buttons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0px 70px;
  align-items: center;
  z-index: 1;
}

.buttons button {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.buttons button .icon {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.controlButtons {
  width: 90%;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  margin: 50px 0px;
}

.controlButtons button {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgb(177, 177, 177);
}

@media (max-width: 1450px) {
  .infoProyecto {
    padding: 15px 30px;
    max-width: 100%;
    gap: 30px;
  }

  .containerImg {
    width: 100%;
    max-width: 100%;
    padding: 15px 30px;
  }
}

@media (max-width: 750px) {
  .container {
    padding-top: 120px;
    overflow: hidden;
  }

  .containerImg img {
    width: 90vw;
    height: auto;
    border-radius: 20px;
  }

  .buttons {
    width: 100vw;
    padding: 0px 25px;
  }
}

@media (max-width: 600px) {
  .title {
    gap: 5px;
  }
  .title h1 {
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -1.5px;
  }
  .title span {
    font-size: 18px;
    letter-spacing: 0.5px;
  }

  .parrafo h5 {
    font-size: 18px;
    letter-spacing: 0.2px;
  }
  .parrafo p {
    font-size: 17px;
  }

  .infoProyecto {
    padding: 15px 20px;
  }

  .containerImg {
    padding: 0px 10px;
  }

  .controlButtons {
    margin: 0px;
    padding: 15px 20px;
    width: 100%;
  }

  .controlButtons button {
    font-size: 18px;
  }
}
