.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 50px;
  padding: 30px 0px;
  background-image: url("../../../public/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30%;
}

.containerTitle {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.containerTitle h2 {
  text-align: center;
  text-wrap: balance;
  overflow-wrap: break-word;
  font-size: 3.8vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -2px;
  color: #d8d8d7;
  line-height: 80px;
}

.containerTitle p {
  width: 100%;
  max-width: 450px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(182, 182, 182);
}

@media (max-width: 1500px) {
  .container {
    padding-bottom: 80px;
  }
  .container h2 {
    font-size: 5vw;
    line-height: normal;
  }
}

@media (max-width: 1200px) {
  .container {
    gap: 20px;
  }
  .containerTitle p {
    width: 90%;
    max-width: 400px;
    font-size: 17px;
    line-height: 25px;
  }
}

@media (max-width: 750px) {
  .containerTitle {
    padding: 10px 0px;
  }
  .container h2 {
    font-size: 7vw;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0px;
  }
  .container h2 {
    width: 95%;
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: 500;
  }
}
